/* general styles */

li {
    list-style: none;
}
.line {
    border: 2px solid #ED661F;
    width: 2rem;
    content: "";
}


.with-line {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}










/* main */
body{
    width: 100%;
    height: 100%;
    margin: 0;
}


/* navigation bar */

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    text-align: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    gap: 1rem;
}


.nav1 > p {
    font-size: 1.5rem;
}

.nav3 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #ED661F;
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




.break {
    display: block;
    content: " ";
}

/* introduction ie section2 */
.introduction {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
    height: 50vw;
    background-image: url("images/image 1.png");
    background-repeat: no-repeat;
    background-size: 100% 90%; 
    background-position: 0 -100;
    
}
.intro-main {
    display: flex;  
    padding-left:3rem;
    margin-top: 6rem; 
}

.intro-image {
    width: 90%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
    
}

.intro-text-main {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4rem;
}

.intro-text-mid {
    font-size: 1.3rem;
    color: rgb(39, 38, 38);
    width: 80%;
    line-height: 1.5rem;
}

.intro-text-end {
    margin: 1rem 0;
}
.explore {
    height: 4rem;
    width: 8rem;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #ED661F;
    display: flex;
    justify-content: center;
    align-items: center;
}


.intro-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 320px;
}

.statistics {
    display: flex;
    border: 2px solid white;
    box-shadow: 0 3px rgb(153, 139, 139);
    width: 69%;
    justify-content: center;
    gap: 3rem;
    margin-top: 50px;
    background-color: white;

}

.stats-child {
    text-align: center;
    font-weight: bold;
}

/* ==============ABOUT-========================= */
.line-long {
    border: 2px solid #ED661F;
    width: 6rem;
    content: "";
}

.about {
    display: flex;
    margin: 2rem;
    justify-content: space-between;
    line-height: 1.7rem;
}

.about-child {
    width: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3rem;
    gap: 3rem;
}

.with-line-text {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.about-text-body {
    font-size: 1.1rem;
}
.about-image {
    width: 70%;
}
/* ======== ========    categories-intro  =============   === === === ====    ====    =====   =====    */
.cat-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.cat-title-text {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem;
}

.cat-footer {
    font-size: 1.2rem;
    width: 40%;
    text-align: center;
}
.about-line-long {
    border: 2px solid #ED661F;
    width: 6rem;
    content: "";
    align-self: center;
}


/* most popular top */

.most-popular-top{
    font-size: 2rem;
    font-weight: 900;
}

.most-popular-items {
    display: flex;
    justify-items: space-between;
}
.most-popular-item {
    width: 20%;
    display: flex;
    flex-direction: column;
}








