/* general styles */

li {
    list-style: none;
}
.line {
    border: 2px solid #ED661F;
    width: 2rem;
    content: "";
}


.with-line {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}










/* main */
body{
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}


/* navigation bar */

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    text-align: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    gap: 1rem;
}


.nav1 > p {
    font-size: 1.5rem;
}

.nav3 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #ED661F;
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




.break {
    display: block;
    content: " ";
}

/* introduction ie section2 */
.introduction {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
    height: 50vw;
    background-image: url("images/image 1.png");
    background-repeat: no-repeat;
    background-size: 100% 90%; 
    background-position: 0 -100;
    
}
.intro-main {
    display: flex;  
    padding-left:3rem;
    margin-top: 6rem; 
}

.intro-image {
    width: 90%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
    
}

.intro-text-main {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4rem;
}

.intro-text-mid {
    font-size: 1.3rem;
    color: rgb(39, 38, 38);
    width: 80%;
    line-height: 1.5rem;
}

.intro-text-end {
    margin: 1rem 0;
}
.explore {
    height: 4rem;
    width: 8rem;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #ED661F;
    display: flex;
    justify-content: center;
    align-items: center;
}


.intro-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 320px;
}

.statistics {
    display: flex;
    border: 2px solid white;
    box-shadow: 0 3px rgb(153, 139, 139);
    width: 69%;
    justify-content: center;
    gap: 3rem;
    margin-top: 50px;
    background-color: white;

}

.stats-child {
    text-align: center;
    font-weight: bold;
}

/* ==============ABOUT-========================= */
.line-long {
    border: 2px solid #ED661F;
    width: 6rem;
    content: "";
    background-color: #ED661F;
}

.about {
    display: flex;
    margin: 2rem;
    justify-content: space-between;
    line-height: 1.7rem;
}

.about-child {
    width: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3rem;
    gap: 3rem;
}

.with-line-text {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.about-text-body {
    font-size: 1.1rem;
}
.about-image {
    width: 70%;
}
/* ======== ========    categories-intro  =============   === === === ====    ====    =====   =====    */
.cat-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.cat-title-text {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem;
}

.cat-footer {
    font-size: 1.2rem;
    width: 40%;
    text-align: center;
}
.about-line-long {
    border: 2px solid #ED661F;
    width: 6rem;
    content: "";
    align-self: center;
}


/* most popular top */
.most-popular {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem 0;
    gap: 1.5rem;
}
.most-popular-top{
    font-size: 2rem;
    font-weight: 900;
    padding: 0 7rem;
}

.most-popular-items {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

}
.most-popular-item {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.most-popular-item img {
    width: 100%;
}



/* -------Reviews------------------------------------- */

.reviews  {
    padding-left: 6rem;
}
.reviews-title {
    font-size: 2rem;
    font-weight: 700;
}

.review-items {
    display: flex;
    justify-content: space-between;
}
.review-child {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 3rem;
    margin-top: 2rem;
}

.quote {
    font-size: 2rem;
    font-weight: 900;
}
.person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.person div img {
    width: 60%;
}


/* ----------------------separator -------------------------------------------------------*/
.separator {
    height: 3vh;
    width: 100%;
    content: " ";
    background-color: gray;
    margin: 2vh 0;
}

/* -------------------------outro============================================================== */

.outro {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 5vh;
}
.outro-child {
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid black;
    margin: 2rem 0;
}
.outro-child1 {
    text-align: center;
}
.outro-button {
    background-color: #ED661F;
    color: white;
    text-align: center;
    width: 7rem;
    height: 3rem;
    font-size: 1.3rem;
    border: none;
}
#text-box {
    margin-right: 0;
    height: 2.8rem;
    border: none;
    margin: 1px 0;
    text-align: center;
    width: 20rem;
    
}

.out1 {
    font-size: 2rem;
}

.out2 {
    font-size: 1.1rem;
}



/* ----------------------- footer ------------------------------------------------------------------ */

.footer {
    margin: 2rem 0; 
    background-color: black;
    height: 70vh;  
    width: 100%;
    color: white;
    display: flex;
   
   
}
.a {
    width: 25%;
    
    padding: 3rem;
    
}
svg {
    width: 20%;
    height: 90%;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.top-child3 {
    display: flex;
}

.top-child5 {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.apple, .droid {
    display: flex;
    background-color: rgb(255, 241, 214);
    justify-content: space-around;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
}

.apple div, .droid div {
    
}

.icon-float {
    width: 30%;
}
.icon-float > svg {
    width: 100%;
}


.b  {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 3rem;
}
.b div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}